/* Base de estilo do site */

*{
    box-sizing: border-box;
    font-size: 1rem;
}

button, select {
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
}

select:focus, a:focus, button:focus {
    outline: none;
    border-radius: 12px;
}

select, a, button {
    padding: 1%;
}

html {
    scroll-behavior: smooth;
    font-size: 30px;
}

body {
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* barra de navegação */

#menuNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1%;
}

#menuNav #logo {
    margin: 0 2% 0 2%;
}

#menuNav a{
    font-size: .8rem;
    font-weight: 900;
}

/* Display números */
@font-face {
     font-family: digital;
     src: url("../assets/fonts/digital-7.ttf") format("truetype");
}

.display {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display span {
    font-size: 7em;
    font-family: digital;
}

.display p {
    font-size: 1.1rem;
}

.display h2 {
    font-size: 2.2rem;
}

/* Configurações */
.config {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

hr {
    width: 98%;
    height: 0;
    border: 0;
    border-top: solid 10px;
    border-style: dashed;
}
