*{
    box-sizing: border-box;
}

select:focus, a:focus, button:focus {
    color: white;
    background-color: black;
    outline: none;
    border-radius: 12px;
}

select, a, focus {
    padding: 1%;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
}

#menuNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: green;
    width: 100%;
    padding: 1%;
}

/* Display números */

@font-face {
     font-family: fonteTeste;
     src: url('../src/assets/fonts/digital-7.ttf') format('truetype');
}

.display {
    background: red;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fonteTeste;
}

.display span {
    font-size: 5em;
}
/* Configurações */

.config {
    height: 50%;
    width: 100%;
}
